html {
	height: 100%;
	max-width: 100%;
}

nav.main {
	position: fixed;
	right: 0;
	top: 0px;
	left: 0px;
	padding: 12px;
	background-color: #2980b9;
}

nav#game1 {
	position: relative;
	top: 0px;
	padding: 12px;
}

body {
	position: relative;
	min-height: 100%;
	margin: 42px 0 0 0;
}

.center {
	text-align: center;
}

/*
	Gradient colors from w3school.com

	Sticky footer from http://codepen.io/cbracco/pen/zekgx 
*/
footer.main {
	position: absolute;
	right: 0;
	bottom: 0px;
	left: 0px;
	height: 75px;
	color: white;
	background: -webkit-linear-gradient(left, red , blue); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, red, blue); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, red, blue); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #2C3E50 , #2980b9, #2C3E50 ); /* Standard syntax */
}

footer#game1 {
	position: fixed;
	bottom: 0px;
	color: black;
}

/* All link customization from w3school */
/* regular link */
nav.main a:link {
    color: white;
	text-decoration: none;
}

/* visited link */
nav.main a:visited {
    color: #e5e5e5;
	text-decoration: none;
}

/* mouse over link */
nav.main a:hover {
    color: blue;
}

/* selected link */
nav.main a:active {
    color: blue;
}

form {
	padding: 25px;
	padding-top:0px;
	border: 5px solid black;
    margin: 0 auto;
	background-color: grey;
	min-width: 450px;
	max-width: 30%;
}

/* http://tangledindesign.com/how-to-create-a-contact-form-using-html5-css3-and-php/ */
label {
	color: white;
	text-align: left;
	display: inline-block;
	width: 200px;
	padding: 15px;
}

input {
	width: 202px;
}

textarea {
    height: 4em;
	width: 200px;
}

img {
    transition: -webkit-transform 0.25s ease;
}

img:hover {
    -webkit-transform: scale(2);
}

img.no-transform {
	transform: none;
}

input:after {
    content:"\a";
    white-space: pre;
}

#logo {
	line-height:50px;
	z-index: 9999;
	position: fixed;
	width: auto;
	height: 100%;
	top: -1%;
	left: 0;
	background: url('../logo.png') no-repeat top left;
}