html {
	max-width: 100%;
}

nav {
	padding: 10px;
	background-color: #2980b9;
}

body {
	text-align: center;
	margin: 0;
}

footer {
	background: -webkit-linear-gradient(left, red , blue); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, red, blue); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, red, blue); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #2C3E50 , #2980b9, #2C3E50 ); /* Standard syntax */
}

/* regular link */
a:link {
    color: white;
	text-decoration: none;
}

/* visited link */
a:visited {
    color: #e5e5e5;
	text-decoration: none;
}

/* mouse over link */
a:hover {
    color: blue;
}

/* selected link */
a:active {
    color: blue;
}

form {
	padding: 25px;
	padding-top:0px;
	border: 5px solid black;
    margin: 0 auto;
	background-color: grey;
	min-width: 450px;
	max-width: 30%;
}
 /* http://tangledindesign.com/how-to-create-a-contact-form-using-html5-css3-and-php/ */
label {
	color: white;
	text-align: left;
	display: inline-block;
	width: 200px;
	padding: 15px;
}

input {
	width: 202px;
}

textarea {
    height: 4em;
	width: 200px;
}

img {
    transition: -webkit-transform 0.25s ease;
}

img:hover {
    -webkit-transform: scale(2);
}

input:after {
    content:"\a";
    white-space: pre;
}


/*

On the Contact Me page, use a form to collect First Name (required), Last Name (required), Email (required), Website, and a Comment. Use external css to position the form so that the form is centered on the page, all form fields are uniformly left-justified, the font is white, and the background of the form (not the page!) is grey.

*/