<html>
	<head>
		<!-- import bootstrap css -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<!-- import own css -->
		<link rel="stylesheet" href="style.css">
		<!-- import bootstrap js -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<!-- import jQuery -->
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
		<!-- import AngularJS -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	</head>
	<body>
		<!--Navigation-->
		<header>
			<nav>
				<ul class="nav nav-pills navbar-fixed-top" style="background-color: #5a5c51">
				  <li class="active"><a href="#home" class="page-scroll">Home</a></li>
				  <li><a href="#guess" class="page-scroll">Guess</a></li>
				  <li><a href="#leaders" class="page-scroll">Leaders</a></li>
				  <li><a href="#about" class="page-scroll">About</a></li>
				</ul>
			</nav>
		</header>
		<!-- homepage -->
		<section id="home" class="name-section">
			<div class="container" style="background-color: white">
				<div class="row">
					<div class="col-lg-12">
						<h1>Home</h1>
					</div>
				</div>
			</div>
		</section>
		<!-- number guessing game -->
		<section id="guess" class="name-section">
			<div class="container" style="background-color: white" ng-app="guessTheNumber">
				<div class="row">
					<div class="col-lg-12">
						<h1> Guess the number! </h1>
						<div class="inner" ng-controller="GuessTheNumberController">
							<h4> Guess the computer generated random number
								between 500 and 5000.</h4>

							 <p> Your guess: <input type="text" ng-model="guess"/>
							 <button id="btnGuess" ng-click="verifyGuess(); count = count + 1">Guess</button>
							 <button id="btnRestart" ng-click="startGame()">Restart</button>
							 </p>

							 <!--our status text-->
							 <p>
								<img src="booyanumber.png" style="margin-right: 10px;" class="visible lg">
								<p style="position: absolute; top:69%; left: 48%;">Guesses: <br> {{count}}</p>
								<p ng-show="verification>0">Your guess is higher.</p>
								<p ng-show="verification<0">Your guess is lower.</p>
								<p ng-show="verification===0">Yes! Your guess was correct.</p>
							 </p>
						 </div>
					</div>
				</div>
			</div>
		</section>
		<!-- leader board -->
		<section id="leaders" class="name-section">
			<div class="container" style="background-color: white">
				<div class="row">
					<div class="col-lg-12">
						<h1>Leaders</h1>
					</div>
				</div>
			</div>
		</section>
		<!-- the about page -->
		<section id="about" class="name-section">
			<div class="container" style="background-color: white">
				<div class="row">
					<div class="col-lg-12">
						<h1>About</h1>
						<p>
							Thuy-Tien Nguyen-Tran
							<br>
							CIS 311.03
						</p>
					</div>
				</div>
			</div>
		</section>
		<!--Footer help from: http://solidfoundationwebdev.com/blog/posts/sticky-footer-in-bootstrap-3-->		
		<footer class="navbar-fixed-bottom">
			<div class="container-fluid">
				<b>Thuy-Tien Nguyen-Tran CIS 311.03 Winter 2016</b>
			</div>
		</footer>
		<script>
			// script found on: http://jsfiddle.net/cse_tushar/Dxtyu/141/
			$(document).ready(function () {
				$(document).on("scroll", onScroll);
				
				//smoothscroll
				$('a[href^="#"]').on('click', function (e) {
					e.preventDefault();
					$(document).off("scroll");
					
					$('a').each(function () {
						$(this).removeClass('active');
					})
					$(this).addClass('active');
				  
					var target = this.hash,
						menu = target;
					$target = $(target);
					$('html, body').stop().animate({
						'scrollTop': $target.offset().top+2
					}, 900, 'swing', function () {
						window.location.hash = target;
						$(document).on("scroll", onScroll);
					});
				});
			});

			function onScroll(event){
				var scrollPos = $(document).scrollTop();
				$('#menu-center a').each(function () {
					var currLink = $(this);
					var refElement = $(currLink.attr("href"));
					if (refElement.position().top <= scrollPos && refElement.position().top + refElement.height() > scrollPos) {
						$('#menu-center ul li a').removeClass("active");
						currLink.addClass("active");
					}
					else{
						currLink.removeClass("active");
					}
				});
			}
			
			// start of controller angularJS for guessing game
			
			//modules are containers for angular artifacts
			//bound to the view through ng-app=""
			angular.module('guessTheNumber', [])
			.controller('GuessTheNumberController', GuessTheNumberController); //register the controller as an artifact

			//controller definition
			function GuessTheNumberController($scope) {
			//controll method 1
			$scope.verifyGuess = function() {
			  $scope.verification = $scope.guess - $scope.randomNumber;
			}
			//controller method 2
			$scope.startGame = function() {
			  $scope.randomNumber = Math.floor((Math.random() * 4500) + 500); //get a random number 500-5000
			  $scope.guess = null;
			  $scope.verification = null;
			}
			//execute the startGame method when the angular app loads
			$scope.startGame();

			}
		</script>
	</body>
<html>