body {
	background-color: #1d2120;
	height: 100%;
	padding: 5px;
}

.nav {
	width: 80%;
	padding: 10px;
	margin: auto;
}

.nav a {
	color:white;
}

.nav  a:hover {
	color: black;
}

.nav  a:focused {
	color: black;
}

.name-section {
	background-color: #bcd5d1;
	height: 100%;
	width: 80%;
	padding: 150px;
	margin: auto;
	text-align: center;
}

.container {
	margin: auto;
	height: 70%;
	width: 80%;
}

footer {
	height: 50px;
	width: 80%;
	background-color: #5a5c51;
	margin: auto;
	text-align: center;
	padding: 10px;
	color: white;
}